<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GraphiQL</title>
    <link rel="stylesheet" href="~/graphiql/style.css" />
</head>
<body>
    <div id="app"></div>
    <script src="~/graphiql/bundle.js" type="text/javascript"></script>
</body>
</html>